// Icons
// ==================================================

.viewer-zoom-in:before,
.viewer-zoom-out:before,
.viewer-one-to-one:before,
.viewer-reset:before,
.viewer-prev:before,
.viewer-play:before,
.viewer-next:before,
.viewer-rotate-left:before,
.viewer-rotate-right:before,
.viewer-flip-horizontal:before,
.viewer-flip-vertical:before,
.viewer-fullscreen:before,
.viewer-fullscreen-exit:before{
  font-size: 0;
  line-height: 0;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 15px;
  left: 25px;
  color: transparent; 
  background-image: url(../src/img/toolbar_icon.png);
  background-repeat: no-repeat;
}
.viewer-zoom-in:hover:before,
.viewer-zoom-out:hover:before,
.viewer-one-to-one:hover:before,
.viewer-reset:hover:before,
.viewer-prev:hover:before,
.viewer-play:hover:before,
.viewer-next:hover:before,
.viewer-rotate-left:hover:before,
.viewer-rotate-right:hover:before,
.viewer-flip-horizontal:hover:before,
.viewer-fullscreen:hover:before,
.viewer-fullscreen-exit:hover:before {
  background-image: url(../src/img/toolbar_icon_hover.png);
}
/* close button */
.viewer-close:before {
  display: block;
  width: 55px;
  height: 55px;
  background-image: url(../src/img/close_icon.png);
  background-repeat: no-repeat;

  @include text-hide();
}

.viewer-close:hover:before {
  background-image: url(../src/img/close_icon_hover.png);
}

.viewer-zoom-in:before {
  content: "Zoom In";

  background-position: 0 0;
}

.viewer-zoom-out:before {
  content: "Zoom Out";

  background-position: -54px 0;
}

.viewer-one-to-one:before {
  content: "One to One";

  background-position: -331px 0;
}

.viewer-reset:before {
  content: "Reset";

  background-position: -60px 0;
}

.viewer-prev:before {
  content: "Previous";

  background-position: -217px 0;
}

.viewer-play:before {
  content: "Play";

  background-position: -100px 0;
}

.viewer-next:before {
  content: "Next";

  background-position: -276px 0;
}

.viewer-rotate-left:before {
  content: "Rotate Left";

  background-position: -108px 0;
}

.viewer-rotate-right:before {
  content: "Rotate Right";

  background-position: -160px 0;
}

.viewer-flip-horizontal:before {
  content: "Flip Horizontal";

  background-position: -180px 0;
}

.viewer-flip-vertical:before {
  content: "Flip Vertical";

  background-position: -200px 0;
}

.viewer-fullscreen:before {
  content: "Enter Full Screen";

  background-position: -220px 0;
}

.viewer-fullscreen-exit:before {
  content: "Exit Full Screen";

  background-position: -240px 0;
}

.viewer-close:before {
  content: "Close";

  background-position: 0 0;
}
